// background: url('../../../static/image/backcolor_01.jpg') 100%;   
.container {
    width: 100%;
    height: 100%;
    .content {
        padding: 0.8rem 0 0;
        .banner-1 {
            width: 12rem;
            height: 6.8rem;
            margin-top: 0.5rem;
        }
    }
}